@model IEnumerable<ConsumeWebApi.Models.Wallet>

@{
    ViewBag.Title = "Estado de cuenta";
}

<h2>Cuenta:</h2>

<p>
    @Html.ActionLink("Agregar Saldo", "AgregarSaldo")
    <br/>
    <br/>
    @Html.ActionLink("Retirar Saldo", "RetirarSaldo")

</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Money)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Message)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Money)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Message)
        </td>
        
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>*@
        
    </tr>
}

</table>
